<%= form_for(@redmine_key, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @redmine_key.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@redmine_key.errors.count, "error") %> prohibited this redmine key from being saved:</h4>

      <ul>
        <% @redmine_key.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :ticket_repository_id, "リポジトリURL", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.collection_select :ticket_repository_id, TicketRepository.all, :id, :url, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :login_name, "ログイン名", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :login_name, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :password_digest, "パスワード", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :password_digest, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :api_key, "APIキー", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :api_key, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit "登録", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
