<div class="page-header">
  <%= link_to developers_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    戻る
  <% end %>

  <h1>新規開発者登録</h1>
  <p>登録する開発者名を選択してください.</p>
</div>

<%= form_for(@developer, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <div class="form-group">

  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th>選択</th>
          <th>開発者名</th>
          <th>mail</th>
        </tr>
      </thead>

      <tbody>
        <% @developer_info[:developers].each do |developer| %>
          <% name = developer['lastname']+' '+developer['firstname'] %>
          <tr>
            <td><label><%= f.radio_button :name, name %></label></td>
            <td><%= name %></td>
            <td><%= developer['mail'] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="col-sm-offset-2 col-sm-10">
    <%= f.submit "登録", class: "btn btn-primary" %>
  </div>
<% end %>
