<div class="page-header">
  <%= link_to '/base/setting', class: 'btn btn-default' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      戻る
  <% end %>
  <h1>Redmine認証情報一覧</h1>

</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
      <th>登録済みリポジトリ</th>
      <th></th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <%= content_tag_for(:tr, @ticket_repositories) do |ticket_repository| %>
        <td><%= ticket_repository.url%></td>
        <td><%= link_to '編集', edit_ticket_repository_path(ticket_repository) %></td>
        <td><%= link_to '削除', ticket_repository, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
    </tbody>

  </table>
</div>