<%= form_for(@version_repository, html: { class: "form-horizontal", role: "form" }) do |f| %>
    <% if @version_repository.errors.any? %>
        <div class="alert alert-danger alert-dismissable" role="alert">
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4><%= pluralize(@version_repository.errors.count, "error") %> prohibited this ticket repository from being saved:</h4>

          <ul>
            <% @version_repository.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group">
      <%= f.label "登録済みリポジトリ", class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :url, class: "form-control" %>
      </div>
    </div>
<% end %>
