<%= form_for(@project, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @project.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h4>

      <ul>
        <% @project.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label "名前", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>
  <%= fields_for(@version_repository) do |version_repo| %>
    <div class="form-group">
      <%= version_repo.text_field :name, class: "form-control" %>
      <div class="col-sm-10">
        <% if false %>
          <%= image_tag version_repo.version_repository_path.url if version_repo.version_repository_path? %>
        <% end %>
        <%= version_repo.label "ファイルを選択して下さい" %><br>
        <%= version_repo.file_field :path %>
        <% if false %>
          <%= version_repo.hidden_field :path_cache %>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit "作成", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
