<div class="page-header">
  <%= link_to '/base/setting', class: 'btn btn-default' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      戻る
  <% end %>
  <h1>プロジェクト一覧</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>プロジェクト名前</th>
        <th>プロジェクト開始日</th>
        <th>プロジェクト終了日</th>
        <th>github認証状態</th>
        <th>redmin認証状態</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @projects) do |project| %>
        <td><%= link_to project.name, project %></td>
        <td><%= project.project_start_date %></td>
        <td><%= project.project_end_date %></td>

        <% if auth_git(project.id) %>
            <td><%= link_to '認証済み',project_authen_git_path(project)%></td>
        <% else %>
            <td><%= link_to '未認証',project_authen_git_path(project)%></td>
        <% end %>

        <% if auth_red(project.id) %>
            <td><%= link_to '認証済み',project_authen_red_path(project)%></td>
        <% else %>
            <td><%= link_to '未認証',project_authen_red_path(project)%></td>
        <% end %>

        <td><%= link_to '編集', edit_project_path(project) %></td>
        <td><%= link_to '削除', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
