<div class="page-header">
  <%= link_to '/base/setting', class: 'btn btn-default' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      戻る
  <% end %>
  <h1>プロジェクト一覧</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>プロジェクト名前</th>
        <th>バージョン管理ツール</th>
        <th>チケット管理ツール</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @projects) do |project| %>
        <td><%= link_to project.name, project %></td>
        <% if authen(project.id) %>
          <td><%= project.version_repository_id %></td>
          <td><%= project.ticket_repository_id %></td>
        <% else %>
          <td>未認証</td>
          <td><%= project.ticket_repository_id %></td>
        <% end %>
        <td><%= link_to '編集', edit_project_path(project) %></td>
        <td><%= link_to '削除', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
