<div class="page-header">
  <%= link_to projects_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    戻る
  <% end %>
  <%= link_to edit_project_path(@project), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    編集
  <% end %>
  <h1>プロジェクト詳細</h1>
</div>

<dl class="dl-horizontal">
  <dt>名前:</dt>
  <dd><%= @project.name %></dd>
  <dt>プロジェクト開始日:</dt>
  <dd><%= @project.project_start_date %></dd>
  <dt>プロジェクト終了日:</dt>
  <dd><%= @project.project_end_date %></dd>

</dl>
