<%= form_tag({:contoller => 'portfolio', :action => 'select_function'}) do %>
  <p>
    <div class="control-group">
      <%= radio_button_tag(:id, 1, checked=true) %>&nbsp;GitHubのコミット数 <br />
      <%= radio_button_tag(:id, 2) %>&nbsp;GitHubのコメント数 <br />
      <%= radio_button_tag(:id, 3) %>&nbsp;開発者、プロジェクト選択画面 <br />
      <%= radio_button_tag(:id, 4) %>&nbsp;Redmineのチケット消化の生産性 <br />
    </div>
  </p>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= submit_tag "選択", class: "btn btn-primary" %>
      </div>
    </div>
<% end %>
