<h1 id="ticket_digestion_graph_h1"></h1>

<p id="ticket_digestion_graph_p">
</p>
<%= hidden_field_tag 'selected_project_id', @project_id %>
<%= hidden_field_tag 'selected_developer_id', @developer_id %>

<%= javascript_include_tag "ticket_digestion_graph" %>
<%= javascript_include_tag "commit_counter_graph" %>
<%= javascript_include_tag "productivity_graph" %>
<%= javascript_include_tag "comments_counter_graph" %>
